{% extends "sided.html.twig" %}

{% block title %}
    {{ science.title }} - {{ publication.title }}
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">

            <div class="publication-thumb">
                <h2>{{ science.title }}</h2>
                <h1 style="font-size: 48px">{{ publication.title }}</h1>
                <div>
                    <p>
                        Publié par <strong>{{ publication.author }}</strong>,
                        le <em>{{ publication.publishedAt|date('d/m/Y à H:i') }}</em>.
                    </p>
                    <p>
                        {{ publication.description }}
                    </p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block main %}
    <div>
        {{ publication.content|raw }}
    </div>
    <hr>
    <p>
        <!-- Lien vers la page détail science -->
        <a href="{{ path('publication_science', {'scienceId': science.id}) }}"
           class="btn btn-sm btn-default">
            Retour à liste des publications de la science &laquo;<!-- titre science -->&raquo;
        </a>
    </p>
    <h3>Commentaires</h3>
    <hr>
    {% for comment in comments %}
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="{{ asset('image/comment.svg') }}" alt="Comment">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ comment.pseudo }}</h4>
                {{ comment.message }}
            </div>
        </div>
    {% else %}
        <p>
            <em>Aucun commentaire enregistré</em>
        </p>
    {% endfor %}
    <hr>
    <h3>Ajouter un commentaire</h3>
    {{ form(form) }}
{% endblock %}
